@include tablet {
    .contenedor-anuncios {
        @include grid(3, 1rem)
    }
}

.anuncio {
    background-color: lighten($amarillo, 5);
    border: 1px solid darken($gris, 10);
    color: $blanco;

    .contenido-anuncio {
        padding: 2rem;
    }

    h3, p {
        margin: 0;
    }
    .precio {
        color: $verde;
        font-weight: $bold;
        font-size: 3rem;
    }
}