.testimonial {
    background-color: $verde;
    font-size: 2.4rem;
    padding: 2rem;
    color: $blanco;
    border-radius: 2rem;

    blockquote {
        padding-left: 5rem;

        &::before {

        }
    }
    p {
        text-align: right;
        color: $blanco;
    }
}